<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello API Gateway</title>
</head>
<body>
    Hello World!! Welcome to the API Gateway.

    <ul>
        <li><a href="/api/time">Get time</a></li>
        <li><a href="/api/date">Get date</a></li>
        <li><a href="/api/get_timezones">Get timezones list</a></li>
    </ul>
</body>
</html>